@import '../../../@theme/styles/themes';

@include nb-install-component() {
    
    .track-info {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;

        .cover {
          border-radius: nb-theme(radius) / 2;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          width: 10rem;
          height: 13rem;
        }
    }
    
}
