<div *ngIf="isLoading" class="loader loader-ball is-active" data-shadow>
    <div class="loaddiv">正在加载部门值班...</div>
  </div>
  <nb-card>
    <nb-card-header>
      <div ngbDropdown>
        <button class="btn btn-primary" type="button" ngbDropdownToggle>
            {{ depart.Name }}
        </button>
        <ul class="dropdown-menu">
            <li class="dropdown-item" *ngFor="let v of departs" (click)="selectDepart(v)">{{ v.Name }}</li>
        </ul>
      </div>
      <button class="btn btn-primary btn-sm" (click)="pushDpart()">添加部门值班</button>
    </nb-card-header>
    <nb-card-body>
      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>
  