@import '../../../@theme/styles/themes';

@include nb-install-component() {

    nb-card {
      transform: translate3d(0, 0, 0);
    }
    nb-card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      .dropdown {
        flex-basis: 30%;
        min-width: 220px;
      }
    }
    nb-card-body {
      padding-bottom: 0;
    }
    .loaddiv {
        position: absolute;
        top: 55%;
        left: 50%;
        width:50%;
        height:10%;
        padding:20px;
        text-align:center;
        color:#fff;
        transform: translate(-50%, -50%);
    }
}
