<div>
	<div class="modal-header">
		<span>{{uploadData.name}}</span>
		<button class="close" aria-label="Close" (click)="closeModal()" [disabled]="isUploading()">
			<span aria-hidden="true">{{closeOk}}</span>
		</button>
	</div>
	<div class="modal-body">
		<div *ngIf="errors">
			<span>{{ errors }}</span>
		</div>
		<div class="uploads" *ngIf="files?.length">
			<div class="upload-item" *ngFor="let f of files; let i = index;">
			  <div class="upload-item-top">
				<span class="filename">{{ f.name }}</span>
				<span class="progress-data">
					状态: {{fileOk[f.progress.status]}} 速度: {{ f.progress.data.speedHuman }}	进度: {{ f.progress.data.percentage }}%
				</span>
				<span class="x" (click)="removeFile(f)">x</span>
			  </div>
			  <div class="progress-bar-container">
				<div class="bar" [style.width]="f.progress.data.percentage + '%'" [class.green]="f.responseStatus === 200"></div>
			  </div>
			</div>
		</div>
		<div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
			<h1>把.docx文件拖放到这个区域</h1>
			<p>
				<span>或者选择文件:</span>
				<label class="upload-button">
					<input type="file" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput">
					浏览
				</label>
			</p>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-md btn-primary btn-sm" (click)="startUpload()">开始上传</button>
	</div>
</div>
